html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}

.home-container {
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-title {
    font-family: monospace;
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.home-cursor {
    transition: opacity 0.2s;
    font-size: 40px;
    vertical-align: top;
    position: relative;
    top: -6px;
}

.home-hook {
    font-family: monospace;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 0;
    opacity: 0;
    transition: opacity 2s;
    text-align: center;
}

.home-hook.visible {
    opacity: 1;
}

.home-section {
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}